<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto - Mateo Muñoz Orrego</title>
    <link rel="stylesheet" href="/contacto.css">
</head>
<body>
<div class="container">
    <h1>Contacto</h1>

    <h3>Acerca de mí</h3>
    <h3>Test</h3>
    <ul>
        <li><strong>Nombre:</strong> Mateo Muñoz Orrego</li>
        <li><strong>Edad:</strong> 18 años</li>
        <li><strong>Estudios:</strong> Estudiante de Tecnología en Desarrollo de <em>Software</em></li>
        <li><strong>Dirección:</strong> CL 124 CR 51 C-3 INT 201</li>
        <li><strong>Correo:</strong> <a href="mailto:munozomateo@gmail.com">munozomateo@gmail.com</a></li>
        <li><strong>Teléfono:</strong> 3009080885</li>
        <li><strong>GitHub:</strong> <a href="https://github.com/nexzzus" target="_blank">github.com/nexzzus</a></li>
        <li><strong>Universidad:</strong> Instituto Tecnológico Metropolitano</li>
        <li><strong>Bootcamp:</strong> Actualmente en un bootcamp de Spring Boot</li>
        <li><strong>Tecnologías:</strong> Python, Java, JSP, HTML, CSS, Spring Boot, Hibernate, Maven, MySQL</li>
    </ul>
</div>
</body>
</html>
